@charset "UTF-8";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.content h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}
.content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.content {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 52vw;
}
.map-Box {
  position: relative;
  width: 450px;
  height: 340px;
}
.map-Box iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .map-Box {
    width: 80vw;
  }
}